ID,Sequence
pept1,LVGAMFYV
pept2,AKYLSVMPP
pept3,GFWALIMSPY
pept4,MPVLAYKGTSK
pept5,IALGFWPMKYSL
pept6,VSMKLAYGIPFWM
pept7,GFALYMPKSVWITS
pept8,AKVMPYGLSFWITRA
pept9,LVGAKYMPFWSITRY
pept10,GFWMPYAKLSVITRQS

